<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
   <style>
       body {
           background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/leaves.png');
       }
   </style>
    <div class="container">
        <div style="border: solid 4px #e1e2e4">
            <div style="padding: 45px 25px 75px 25px;background-image: url('https://superdevresources.com/wp-content/uploads/2017/11/free-flat-space-background.jpg'); background-position: top; background-size: cover">{{>header}}</div>
            <div style="background-color: #f4f5f7; padding: 25px; min-height: 550px">
                {{{body}}}
            </div>
            
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>