<h1>Welcome to the WebCraft</h1>
<h4>Here you can find all the latest news about our community</h4>
<hr>
<div>
    <div id="weather-preload"></div>
    <div id="weather-title"></div>
    <div id="weather-info"></div>
</div>