<h1>Welcome to the WebCraft</h1>
<h4>Here you can find all the latest news about our community</h4>
<hr>
<div>
    <form id="weather-form">
        <div class="form-group">
            <input type="text" id="search-input" class="form-control" placeholder="Enter your location here...">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Search</button>
        </div>
    </form>
    
    <div id="weather-preload"></div>
    <div id="weather-title"></div>
    <div id="weather-info"></div>
</div>